<div class="container">
<footer>
    <nav>
        <ul>
            <li class="menu-item">TreinaWeb</li>
            <li class="menu-item">Artigo EJS </li>
            <li class="menu-item">Autor: Wesley Gado</li>
        </ul>
    </nav>
</footer>

<script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
</body>
</div>
</html>